{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
  .separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid rgb(133, 133, 133);
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

  .social-login-box {
    width: 100%;

}

.social-button {
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    height: 50px;
	  line-height: 50px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;
	  border-radius: 3px;
    margin: 5px auto;
    outline: rgb(255, 255, 255) none 0px;
    padding-left: 30%;
    transition: all 0.2s cubic-bezier(0.72, 0.01, 0.56, 1) 0s;
	  -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#facebook-connect {
    background: rgb(255, 255, 255) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/facebook.svg?sanitize=true') no-repeat scroll 5px 0px / 30px 50px padding-box border-box;
    border: 1px solid rgb(60, 90, 154);
}

#facebook-connect span {
	  box-sizing: border-box;
    color: rgb(60, 90, 154);
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    border: 0px none rgb(255, 255, 255);
    outline: rgb(255, 255, 255) none 0px;
	  -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#google-connect {
    background: rgb(255, 255, 255) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/google-plus.png') no-repeat scroll 5px 0px / 50px 50px padding-box border-box;
    border: 1px solid rgb(220, 74, 61);
}

#google-connect span {
	  box-sizing: border-box;
    color: rgb(220, 74, 61);
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    border: 0px none rgb(220, 74, 61);
    outline: rgb(255, 255, 255) none 0px;
	  -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
</style>
<link rel="stylesheet" type='text/css' href="{% static 'accounts/login.css' %}">
<body>
      <div class="form-container">
        <form class="Inputs" method="POST">
            {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">登入</legend>
          </fieldset>
          <label for="email">電子信箱</label>
          <input type='email' id="email" name="email" placeholder="example@email.com" />
          <label for="pswd">密碼</label>
          <input type='password' id="pswd" name="password" value="" />
          <button type="submit">登入</button>
        </form>
        <div class="footer">
          <p>  還沒註冊嗎?
            <a href="{% url 'register' %}">  註冊</a>　　
            <a href="{% url 'password_reset' %}">  忘記密碼 </a>
         </p>
        </div>
        <div class="separator">或是</div>
        <div class="social-login-box">
          <a href="{% url 'social:begin' 'facebook' %}" class="social-button" id="facebook-connect"> <span>透過Facebook登入</span></a>
          <a href="{% url 'social:begin' 'google-oauth2' %}" class="social-button" id="google-connect"> <span>透過Gmail登入</span></a>
        {% if login_form.email.errors %}
            <center style="color: #d10000"><b>{{ login_form.email.errors | striptags }}</b></center>

        {% elif login_form.password.errors %}
            <center style="color: #d10000"><b>{{ login_form.password.errors | striptags }}</b></center>

        {% elif login_form.non_field_errors %}
				    <center style="color: #d10000"><b>{{ login_form.non_field_errors | striptags }}</b></center>

        {% endif %}
  </body>
{% endblock %}
