{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type='text/css' href="{% static 'accounts/login.css' %}">
<body>
<div class="container">
    <div class="form-container">
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">更改密碼</legend>
            {{ form }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">設定新密碼</button>
        </div>
      </form>
  </div>
</div>
</body>
{% endblock %}
