{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type='text/css' href="{% static 'accounts/login.css' %}">
<body>
    <div class="container">
      <div class="form-container" style="height: 300px;">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">重設密碼</legend>
                {{ form }}
            </fieldset>
            <div class="form-group">
                <p>我們將傳送重設連結至您的信箱</p>
                <p>透過連結設定新的密碼</p>
                <button class="btn btn-outline-info" type="submit">確定重設密碼</button>
                &#8676;  <a href="{% url 'login' %}" style="color: black;"> 返回</a>
            </div>
        </form>
    </div>
</div>
  </body>

{% endblock %}
