{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .about {
        display: table;
        margin: 0 auto;
        margin-top: 3%;
    }

    h3 {
        border-bottom: 1px solid #b5b5b5;
    }

    p {
        margin-top: 5%;
    }

    table {
        margin-top: 3%;
        width: 80%;
    }

    a {
        color: #212529;
    }
</style>


<div class='about'>
    <h3>關於這裡</h3>
    <p>
        Hi，我是育晟，這裡是一個side project，專案功能包括
    <ol>
        <li>完整會員系統-含第三方登入支援(Gmail, Facebook)</li>
        <li>呈現簡易股票基本面、籌碼面數據和圖表</li>
        <li>透過數據進行股票篩選和輸出篩選結果至.csv</li>
    </ol>
    股票檔數共50檔，為2021年4月時元大台灣50的成份股。
    <br>
    <br>
    專案使用技術包括
    <table class="table table-sm">
        <thead>
            <th>區塊</th>
            <th>內容</th>
        </thead>
        <tr>
            <td>前端</td>
            <td>HTML, CSS, Javascript, jQuery, Bootstrap</td>
        </tr>
        <tr>
            <td>後端</td>
            <td>Django</td>
        </tr>
        <tr>
            <td>資料庫</td>
            <td>PostgreSQL</td>
        </tr>
        <tr>
            <td>佈署</td>
            <td>Docker, GCP(Cloud Run, Cloud SQL, Cloud Storage, Secret Manager)</td>
        </tr>
    </table>
    更多細節可以在<a href="https://github.com/ycy-tw/python-django-stock">專案的github</a> 找到，任何建議也歡迎來信一起討論 &#128522
    <br>
    📧:ycy.tai@gmail.com
    </p>
</div>



{% endblock %}