{% load static %}

<style>
  nav {
    background: #f8fafbca;
    height: 60px;
    border-bottom: 1px #f8fafbca groove;
  }

  #navbarSupportedContent a {
    color: #363636;
    font-weight: bold;
  }

  footer {
    background-color: #f2f2f2;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    margin-top: auto;
  }
</style>


<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-157347770-5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-157347770-5');
  </script>
  <meta charset="UTF-8">
  <title>Demo</title>
  <link rel="stylesheet" type='text/css' href="{% static 'base.css' %}">
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous">
    </script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" style="width:48px;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'info' symbol=2330 %}">股票</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'pick' %}">篩選</a>
          </li>
          <li class="nav-item">
            <div class="wrapper">
              <div class="search-input">
                <a href="" target="_blank" hidden></a>
                <input type="text" placeholder="例如: 台積電, 2330...">
                <div class="icon"><i class="fas fa-search"></i></div>
                <div class="autocom-box">

                </div>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'about' %}">關於</a>
          </li>
        </ul>


        {% if user.is_authenticated %}
        <ul class="form-inline my-2 my-lg-0">
          <a class="nav-link active" aria-current="page" href="#">{{ user.email }}</a>
        </ul>
        <ul class="form-inline my-2 my-lg-0">
          <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">登出</a>
        </ul>
        {% else %}
        <ul class="form-inline my-2 my-lg-0">
          <a class="nav-link active" aria-current="page" href="{% url 'login' %}">登入/註冊</a>
        </ul>
        {% endif %}
      </div>
    </div>
    <script src="{% static 'suggestions.js' %}"></script>
    <script src="{% static 'scripts.js' %}"></script>
  </nav>
  <div class="container">
    <!-- <div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
  </div> -->
    {% block content %}
    {% endblock content %}
  </div>
  <!-- <footer>
  <p style="color:black; text-align: right;">聯繫信箱: ycy.tai@gmail.com </p>
</footer> -->
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<!-- <script>
          $(window).on("load",function(){
            $(".loader-wrapper").fadeOut("slow");
          });
      </script> -->

</html>